#main {
  background-color: lightblue;
  margin-top: 30px;  
 }
  section {
    padding-top: 150px;
    padding-bottom: 50px;
  
}
#header {
  min-height: 100px;
}
#header-img {
  height: 80px;
  width: 200px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

#nav-bar {
  background-color: darkblue;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 98.9%;
}
.nav-link {
  display: flex;
  text-decoration: none;
  color:white;
}
  
  li {
  float: right;
  list-style-type: none;
  padding: 25px 25px;
  text-transform: uppercase;
}
@media (max-width: 560px) {
  #form {
    width: 100px;
  }
  
  iframe {
  border: none;
}
